// Custom Monlith overrides to reset Bootstrap

// remove outline from links
a:focus {outline: none;}

// remove shitty line from page header
.page-header {border: none; padding: 0;}

// remove wack padding from navbar
.navbar-inner {padding: 0;}