wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/w3tc-config/
bower_components/
node_modules/
.DS_Store
.bak
.htaccess
.svn
Thumbs.db
npm-debug.log
robots.txt
wp-config.php
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
*.old