.DS_Store
.htaccess
.svn
.bak
*.old
bower_components/
node_modules/
npm-debug.log
robots.txt
Thumbs.db
wp-content/cache/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/w3tc-config/
wp-config.php
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/db.php